/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17/04/2016, 07:36:10 PM
    Author     : jonathanjb
*/


body
{
    background-color: #AA8216;  
}

#header
{
    
    padding: 20px; 
}

#center
{
    text-align: center;
}

#footer
{
    
    padding: 20px; 
}

.Principal{
    background-color: #AA8216;
}

#busqAvanzada {
    background-color: #F3F3F3;
    border-radius: 7px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4), 0px 0px 4px white inset, 2px 2px 2px rgba(0, 0, 0, 0.2);
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    width: 400px;
}