/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24/04/2016, 12:20:26 PM
    Author     : jonathanjb
*/

body
{
    background-color: black;
}
.contenedorLogin
{
    margin-top: 100px;
    text-align: center;
    width: 100%;
}
#titulo{
    color: darkgoldenrod;
    margin-top: 50px;
    text-align: center;
}
.formulario2
{
    background-color: #F3F3F3;
    border-radius: 7px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4), 0px 0px 4px white inset, 2px 2px 2px rgba(0, 0, 0, 0.2);
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    width: 400px;
}
